{% extends 'base.html.twig' %}

{% block title %}Login into account.{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block form_row %}

    {{- form_errors(form) -}}
    {{- form_widget(form, widget_attr) -}}
    {{- form_help(form) -}}
{% endblock form_row %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-md-8 col-lg-6 mx-auto">
                {% if app.user %}
                <div class="h3 mb-3 font-weight-normal">
                    Welcome back {{ view.clientName }}, {{ app.user.userIdentifier }}!
                </div>
                {% endif %}
                <h3 class="mb-3 font-weight-normal">Your accounts:</h3>
                {% for account in view.accounts %}
                    <div class="card mb-3 w-100">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <span class="fw-bold">{{ account.currency }}</span>
                            </div>
                            <div class="text-end">
                                <span class="h5 mb-0">{{ account.balance }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <div class="h2 mb-3 font-weight-normal">
                    <button type="submit" id="add-account-button" class="btn btn-dark btn-primary btn-block ">Add new account</button>
                    <br>
                    <br>
                    <div class="text-center" id="addAccountElement"  style="display: none;">
                        <form method="POST" action="{{ path('add_account') }}" id="addAccountForm">
                            <input type="hidden" name="_token" value="{{ csrf_token('add_account') }}">
                            <select name="currency">
                                {% for currency in currencies %}
                                    {% set hasAccount = false %}
                                    {% for account in view.accounts %}
                                        {% if account.currency == currency.value %}
                                            {% set hasAccount = true %}
                                        {% endif %}
                                    {% endfor %}

                                    {% if not hasAccount %}
                                        <option value="{{ currency.value }}">{{ currency.value }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>

                            <button type="submit">Add account</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
            document.getElementById('add-account-button').addEventListener('click', () => {
                if(document.getElementById('addAccountElement').style.display === 'none'){
                    document.getElementById('addAccountElement').style.display = 'block'
                } else {
                    document.getElementById('addAccountElement').style.display = 'none'
                }
        });
    </script>

{% endblock %}
