{% extends 'base.html.twig' %}

{% block title %}Login into account.{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block form_row %}

    {{- form_errors(form) -}}
    {{- form_widget(form, widget_attr) -}}
    {{- form_help(form) -}}
{% endblock form_row %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-md-8 col-lg-6 mx-auto">
                {% if app.user %}
                <div class="h3 mb-3 font-weight-normal">
                    Welcome back {{ view.clientName }}, {{ app.user.userIdentifier }}!
                </div>
                {% endif %}
                <div class="h2 mb-3 font-weight-normal">
                    Accounts:
                    {% for account in view.accounts %}
                        <br>  {{ account.currency }}
                        {{ account.balance }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script>
    </script>

{% endblock %}
