{% extends 'base.html.twig' %}

{% block title %}Login into account.{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block form_row %}

    {{- form_errors(form) -}}
    {{- form_widget(form, widget_attr) -}}
    {{- form_help(form) -}}
{% endblock form_row %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-md-8 col-lg-6 mx-auto">
                <div id="loginForm">
                    {{ form_start(loginForm, {
                        'attr': {'class': 'form-login'}
                    }) }}
                    {{ form_end(loginForm) }}
                    <button type="submit" form="loginFormElement" id="loginButton" class="btn btn-dark btn-primary btn-block ">Login</button>
                </div>

            </div>
        </div>
    </div>

    <script>
    </script>

{% endblock %}
